body {
margin: 0;
height: 100vh;
display: flex;
justify-content: center; 
align-items: center; 
background-color: #000000;
}

.container {
width: 300px;
margin: 100px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
font-family: Arial, sans-serif;
}


h1 {
text-align: center;
}


.input-box {
display: flex;
gap: 10px;
}


input {
flex: 1;
padding: 8px;
}


button {
padding: 8px 12px;
cursor: pointer;
}


ul {
list-style: none;
padding: 0;
margin-top: 20px;
}


li {
display: flex;
justify-content: space-between;
padding: 8px;
border-bottom: 1px solid #ddd;
}


.delete {
background: red;
color: white;
border: none;
cursor: pointer;
}